.main{

    display: grid;
    grid-template-columns: 25% 50% 25%;

}
label{
    margin-left: 8px;
    font-size: 16px;
}
.subnav{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    border-radius: 20px;
    width: 100px;
    background: transparent;
    border:0;
}
button:hover{
   
    background: lightgray;
   
}
.storycard{
    padding: 10px;
    display: flex;
    gap:5px;
    font-size: 16px;
}
.slid{
    margin-top: 10px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    color: black;
}
.slid:hover{
    background: lightgray;
   
}
.boxone{
    background-color: #242526;
    color: #e4e6eb;
    width: 25%;
    position: fixed;
    overflow: auto;
    height: 550px;
    padding-left: 5px;
    mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;   
}
.boxone:hover {
    -webkit-mask-position: left top;
  }
::-webkit-scrollbar {
    width: 10px;

}  
/* Track */
::-webkit-scrollbar-track {
   background-color: lightgray;
}  
/* Handle */
::-webkit-scrollbar-thumb {
    background:darkgray;
    border-radius: 10px;
    
}
hr{
    margin: 0;
}
.pstory{
    width: 150px;
    height: 200px;
    border-radius: 10px 10px 0 0;
}
.tstory{
    width: 150px;
    height: 200px;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.storyone{
    background-color: #3a3b3c;
    width: 150px;
    display: grid;
    text-align: center;
    border-radius: 10px;
}
.storytwo{
    background-color: #3a3b3c;
    width: 150px;
    display: grid;
    text-align: center;
    border-radius: 10px;
}
.fstory{
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 10px;
    box-shadow: 0px 1px 4px black;
}
.txtone{
    margin-top: 10px;
}
.bi-plus-circle-fill{
    margin-top: -16px;
    background-color: white;
    border-radius: 50%;
}
.cstory{
    margin-top: -16px;
}
.mstory{
    background-color: #3a3b3c;
    width: 150px;
    display: grid;
    text-align: center;
    border-radius: 10px;
}
.bb{  
    margin: auto;
    margin-bottom: 20px;
}

.boxtwo{
    background-color: #242526;
}

.boxthree{
    width: 25%;
    background-color: #242526;
    color: white;
    height: 550px;
    position: fixed;
    margin-left: 75%;

}
.top{
    display: grid;
    gap: 10px;
    margin-top: 8px;
}
.bottom{
    display: grid;
    gap: 10px;
}
.abc{
    font-size: 20px;
    margin-top: 12px;
}
.profile{
    margin-top:10px;
    height: 42px;
    width: 42px;
    border-radius: 20px;
}
.nike{
    margin-top: 5px;
    height: 52px;
    width: 52px;
    border-radius: 5px;
}
.doremon{
    height: 44px;
    width: 44px;
    border-radius: 5px;
}
.starbuck{
    height: 44px;
    width: 44px;
    border-radius: 5px;
}
.adidas{
    height: 44px;
    width: 44px;
    border-radius: 5px;
}
.iconpost{
    display: flex;
    gap: 8px;
}
.txt{
    border-radius: 50px;
    width: 90%;
    margin-left: 6px;
    border:none;
    padding: 5px;
}
.feed{
    padding: 15px;
    background-color:#3a3b3c;
    border-radius: 5px;
    width: 550px;
    margin-bottom: 10px;

}
.covid{
    margin-bottom: 10px;
}
.friendpost{
     background-color:#3a3b3c;
     border-radius: 5px;
  
}
.dvideo{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 6px;
}
.ppost{
    height: 42px;
    width: 42px;
    border-radius: 20px;
    margin-bottom: 5px;
}
.mfeed{
    margin-top: 10px;
    display: grid;
    justify-content: center;
    width: 100%;


}
.ss{
    display: grid;
    grid-template-columns: 10% 85% 5%;
}
.cc{
    display: flex;
    gap:5px;
    height: 20px;
   
}
.like{
    width: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}